.popular-playlist-container {
  background-color: var(--trans-black);
  border-radius: 10px;
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.popular-playlist-image {
  border-radius: 10px;
  min-width: 127px;
  min-height: 108px;
  max-width: 200px;
  max-height: 200px;
}

.popular-playlist-image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-playlist-name {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popular-playlist-description {
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  color: #aaa;
}

@media (min-width: 768px) {
  .popular-playlist-container {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .popular-playlist-name {
    font-size: 15px;
  }

  .popular-playlist-description {
    font-size: 13px;
  }

  .popular-playlist-image {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
