.playlist-section-wrapper {
  position: relative;
}

.playlist-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  margin: 20px auto;
  background-color: var(--trans-white);
  border-radius: 15px;
  width: 250px;
  cursor: pointer;
}

.playlist-small-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 15px;
  margin: 20px auto;
  background-color: var(--trans-white);
  border-radius: 15px;
  width: 250px;
  cursor: pointer;
}

.playlist-brief {
  width: 100%;
  overflow-wrap: anywhere;
}

.album-cover {
  border-radius: 10%;
  width: 100%;
  height: auto;
}

.heart-save {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--trans-white);
  padding: 5px;
  border-radius: 25px;
  /* color: white */
  filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(70deg)
    brightness(106%) contrast(101%);
  cursor: pointer;
}

.heart-save:hover,
.heart-save:focus {
  /* color: black */
  filter: invert(0%) sepia(75%) saturate(7400%) hue-rotate(219deg)
    brightness(111%) contrast(94%);
  background-color: var(--trans-black);
}

.playlist-name {
  font-weight: bold;
}

.detail {
  font-size: 12px;
}

@media only screen and (min-width: 420px) {
  .playlist-section {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    margin: 20px 0;
  }

  .playlist-small-section .album-cover {
    border-radius: 10%;
    width: 100%;
    height: auto;
  }

  .playlist-section .album-cover {
    width: 100px;
  }
}
