header {
  width: 100%;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: var(--trans-black);
}

.mobile-header a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

/* logo */
.mobile-header .logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mobile-header .logo-container img {
  width: 60px;
  height: 60px;
}

.mobile-header .logo-container p {
  font-size: 22px;
}

/* login */
.mobile-header .login-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mobile-header .login-container p,
.mobile-header .login-container img {
  cursor: pointer;
  transition: all ease-in-out 150ms;
}

.mobile-header .login-container:hover > p,
.mobile-header .login-container:focus > p {
  color: var(--grey);
}

.desktop-header {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 30px 25px;
  }

  .desktop-header a {
    color: white;
    text-decoration: none;
  }

  /* login & account - right part of header */
  .desktop-header button {
    padding: 5px 25px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-family: var(--font);
    font-size: 18px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
  }

  .desktop-header button:hover,
  .desktop-header button:focus {
    color: black;
    background-color: white;
  }

  .desktop-header .login-account-container {
    display: flex;
    gap: 25px;
  }

  .desktop-header .login-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .desktop-header .login-container p {
    font-size: 20px;
    font-weight: 500;
  }

  /* arrows - left part of header */
  .header-arrows {
    display: flex;
    gap: 5px;
  }
  .header-arrows.margin-left {
    margin-left: 5px;
  }

  .header-arrows div {
    background-color: var(--trans-black);
    padding: 10px 10px 10px 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .header-arrows .rotate-arrow {
    rotate: 180deg;
  }
}
