.playlist-header-main {
  background-color: black;
  border-radius: 20px;
}

.playlist-header-data {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 30px;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.playlist-header-buttons {
  padding: 30px;
  background-color: darkolivegreen;
}

.playlist-word {
  font-size: 20px;
}

.playlist-header-name {
  font-size: 70px;
  font-weight: bold;
}

.playlist-header-song-id {
  font-size: 14px;
}
.playlist-header-song-id span {
  font-weight: bold;
}
