.filter-options {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-filter-options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: black;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 0 9999px #00000087;
  z-index: 2;
  min-width: 300px;
}

.filter-close {
  display: flex;
  justify-content: space-between;
}

.filter-icon-title {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.filter-icon-title img,
.close-filters-icons {
  /* color: white */
  filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(70deg)
    brightness(106%) contrast(101%);
}

.checkbox-container {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.checkbox-container legend {
  font-size: 16px;
  margin-bottom: 5px;
}

.checkbox-container div {
  display: flex;
  gap: 8px;
}

.checkbox-container label {
  font-size: 14px;
}

/* customizing checkboxes*/
fieldset input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid white;
  background-clip: content-box;
  padding: 4px;
  cursor: pointer;
}

fieldset input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: white;
}

/* buttons  */
.clear-filter-button {
  margin: 0 35px;
  padding: 5px 25px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: var(--font);
  font-size: 16px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.clear-filter-button:hover,
.clear-filter-button:focus {
  color: black;
  background-color: white;
}

.create-playlist-button {
  padding: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  color: black;
  font-family: var(--font);
  font-size: 12px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.create-playlist-button:hover,
.create-playlist-button:focus {
  color: white;
  background-color: transparent;
}

.filter-result {
  margin-left: 35px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .create-playlist-button {
    padding: 5px 15px;
    font-size: 14px;
  }
}
