.popup-confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--purple);
  background-color: var(--pink);
  padding: 40px;
  border: 1px solid white;
  border-radius: 25px;
  min-width: 250px;
  z-index: 2;
  text-align: center;
  font-size: 16px;
}

.popup-confirm-bottom {
  top: 90% !important;
  padding: 10px 20px !important;
  font-size: 14px !important;
}
