.check-playlist-header {
  font-size: 28px;
  font-weight: normal;
}

.id-provide-section {
  padding: 25px;
  margin: 20px 0;
  background-color: var(--trans-black);
  border-radius: 10px;
}

.id-provide-section a {
  text-decoration: none;
  color: white;
}

.check-playlist-section-title {
  font-size: 20px;
}
