.tracks-list-main {
  max-height: 300px;
  overflow-y: auto;
  padding: 0px 30px;
}

.tracks-list-image {
  border-radius: 5px;
  margin: 5px;
}

.tracks-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 10px;
}

.tracks-table-header td {
  border-bottom: 3px solid white;
}

.tracks-table {
  font-size: 12px;
  max-height: 300px;
  overflow-y: auto;
}

.tracks-table-header {
  font-size: 12px;
  font-weight: bold;
}

td {
  min-width: 30px;
  margin: 10px;
}
