.popular-playlist-header {
  font-size: 28px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 2%;
}

.popular-playlist-row {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  justify-content: space-between;
  padding-bottom: 10px;
}

.popular-playlist-row a {
  text-decoration: none;
}

.popular-playlists-loader {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--trans-black);
  padding: 30px;
  border-radius: 25px;
}
