.track-image-artist-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.track-artist-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playlist-table-heart-icon {
  opacity: 0;
}
.track-row:hover .playlist-table-heart-icon {
  opacity: 1;
  transition: all ease-in-out 200ms;
  filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(70deg)
    brightness(106%) contrast(101%);
  cursor: pointer;
}
.track-name {
  font-size: 12px;
  font-weight: bold;
}

.artist-name {
  font-size: 11px;
  font-weight: normal;
}

.track-row:hover {
  background-color: var(--trans-black);
  transition: all ease-in-out 200ms;
  border-radius: 20px;
}
