.popup-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--purple);
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  min-width: 300px;
  border: 1px solid white;
  box-shadow: 0 0 0 9999px #00000087;
  z-index: 2;
}

.popup-login h4 {
  font-size: 19px;
}

.popup-login-buttons {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.popup-login-buttons .not-now-button {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: var(--font);
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.popup-login-buttons .not-now-button:hover,
.popup-login-buttons .not-now-button:focus {
  color: black;
  background-color: white;
}

.popup-login-buttons .login-button {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  color: var(--purple);
  font-family: var(--font);
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.popup-login-buttons .login-button:hover,
.popup-login-buttons .login-button:focus {
  color: white;
  background-color: transparent;
}
